*{
    margin: 0;
    padding: 0;
    background-color: #F9FAFC;
    font-family: 'Lato', sans-serif;
}

.flex {
    display: flex;
}


.logo{
   padding-bottom: 1em;
   font-size: 5rem;
    background-color: #E5F1D9;
    font-family: 'Oswald', sans-serif;
}

.img{
    background-color: #E5F1D9;
    width: 40%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.ensa{
    width: 24em;
    height: 24em;
    background-color: transparent;
    border: 15px solid #83B64D;
    border-radius: 670px;
}

.partedos{
    width: 60%;
}
.iniciar{
    padding-top: 6em;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: #F9FAFC;
    padding-bottom: 1em;
    
    
}

.form{
    display: flex;
    justify-content: center;
    
}

label{
    display: flex;
    flex-direction: column;
}

.persona{
    display: flex;
    padding-bottom: 2em;
    align-items: center;
}

.imagen{
    position: absolute;
    background-color: transparent;
    padding-left: 0.5em;

}

.email{
    padding: 1em 2.6em ;
    width: 22em;
    border: 0;
    background-color: #EEEEEE;
    border-radius: 10px;
    

}

button{
    width: 100%;
    padding: 0.4em 0; 
    text-align: center;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
}

.regi{
    padding-top: 1em;
    display: flex;
    
    justify-content: center;
}

.preg{
    color: gray;
}

a{
    text-decoration: none;
    padding-left: 0.5em;
    color: black;
}

.metodos{
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}
.opcio{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.Face{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoimg{
    background-color: transparent;
}


.inter{
    background-color: #3D5A99;
    padding: 0.7em 1.5em;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    
    display: flex;
    align-items: center;
    
  
    
}

.gogo{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.gogle{
    background-color: #6AAAFB;
    margin-left: 1em;
    padding: 0.7em 2em;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;  
    display: flex;
    align-items: center;
}


